<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.artcak.artcaklibrary">

    <application
        android:name="android.support.multidex.MultiDexApplication">
        <activity android:name=".locationpicker.LocationPickerActivity"
            />
    </application>

</manifest>